<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>RDoc Documentation</title>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/assets/workspace.css" type="text/css" media="screen" />

</head>
<body>
  <div class='overall-wrapper'>

    <div id='main'>
      <div class='row'>
        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>

        <!--
          <div class='sidebar-toggle' id='menu-toggle'>
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </div>
        -->

          <div class="banner">
          </div> <!-- banner -->

          <div id="bodyContent">
            <div id="content">
              <div class="description">
                


                <div id="search-box">
                  <input type='text'>
                </div>
                
              </div>
            </div>
          </div>

        </div> <!-- col-xs-12 -->
      </div> <!-- row -->
    </div> <!-- main -->

  </div> <!-- overall-wrapper -->

  <script src="/assets/workspace.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    close_sidebar();
  </script>

</body>
</html>
